name: CI

on:
  push:
    branch:
      - master

jobs:
  debug:
    name: Debug
    runs-on: ubuntu-latest
    steps:
      - name: Current Ref
        run: |
          echo ${{ github.ref }}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Lint
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go get -u github.com/mgechev/revive
          make lint
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Unit tests
        run: make test-coverage

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.ref != null && startsWith(github.ref, "v")
    steps:
      - uses: action/checkout@v2
        if: github.event_name == 'push'

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14
